:root {
    --global-bg-color: #ffffff;
    --global-code-bg-color: rgba(54, 160, 181, 0.05);
    --global-text-color: #000000;
    --global-text-color-light: #828282;
    --global-theme-color: #36a0b5;
    --global-hover-color: #36a0b5;
    --global-hover-text-color: #ffffff;
    --global-footer-bg-color: #1C1C1D;
    --global-footer-text-color: #e8e8e8;
    --global-footer-link-color: #ffffff;
    --global-distill-app-color: #828282;
    --global-divider-color: rgba(0,0,0,.1);
    --global-card-bg-color: #ffffff;
    --global-tip-block: #42b983;
    --global-tip-block-bg: #e2f5ec;
    --global-tip-block-text: #215d42;
    --global-tip-block-title: #359469;
    --global-warning-block: #e7c000;
    --global-warning-block-bg: #fff8d8;
    --global-warning-block-text: #6b5900;
    --global-warning-block-title: #b29400;
    --global-danger-block: #c00;
    --global-danger-block-bg: #ffe0e0;
    --global-danger-block-text: #600;
    --global-danger-block-title: #c00;
  }

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
    background: gainsboro;
    text-align: center;
    font-family: "Lato";
}

h1 {
    font-family: 'abril-fatface-regular'; /* Use your custom font for h1 */
}



footer.fixed-bottom {
    background-color: var(--global-footer-bg-color);
    font-size: 0.75rem;
  }
  footer.fixed-bottom .container {
    color: var(--global-footer-text-color);
    padding-top: 8px;
    padding-bottom: 8px;
  }
  footer.fixed-bottom a {
    color: var(--global-footer-link-color);
  }
  footer.fixed-bottom a:hover {
    color: var(--global-theme-color);
    text-decoration: none;
  }
  
  footer.sticky-bottom {
    border-top: 1px solid var(--global-divider-color);
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 0.9rem;
  }

  .icon {
    display: inline-block;
    width: 30px; /*Distance between icons*/
    height: 30px;
    font-size: 48px; /* Adjust the size according to your needs */
    line-height: 10px; /* Center the icon vertically */
    text-align: center; /* Center the icon horizontally */
    color: #333; /* Adjust icon color */
    margin: 10px;
    transition: transform 0.3s ease; /* Smooth transition for the jump effect */
}

.icon:hover {
    transform: translateY(-10px); /* Move the icon 5 pixels upwards */
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /* Custom links */
  .custom-link {
    color: black; /* Default link color */
    text-decoration: underline; /* Remove underline */
    transition: color 0.5s ease; /* Smooth transition for color change */
}

.custom-link:hover {
    color: white; /* Change text color to white on hover */
    background-color: black; /* Highlight the background in black */
}