:root {
    --global-bg-color: #ffffff;
    --global-code-bg-color: rgba(54, 160, 181, 0.05);
    --global-text-color: #000000;
    --global-text-color-light: #828282;
    --global-theme-color: #36a0b5;
    --global-hover-color: #36a0b5;
    --global-hover-text-color: #ffffff;
    --global-footer-bg-color: #1C1C1D;
    --global-footer-text-color: #e8e8e8;
    --global-footer-link-color: #ffffff;
    --global-distill-app-color: #828282;
    --global-divider-color: rgba(0,0,0,.1);
    --global-card-bg-color: #ffffff;
    --global-tip-block: #42b983;
    --global-tip-block-bg: #e2f5ec;
    --global-tip-block-text: #215d42;
    --global-tip-block-title: #359469;
    --global-warning-block: black;
    --global-warning-block-bg: #fff8d8;
    --global-warning-block-text: #6b5900;
    --global-warning-block-title: #b29400;
    --global-danger-block: #c00;
    --global-danger-block-bg: #ffe0e0;
    --global-danger-block-text: #600;
    --global-danger-block-title: #c00;
  }

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background: gainsboro;
    text-align: center;
    font-family: "Lato";
}

h1 {
    font-family: 'Montserrat'; /* Use your custom font for h1 */
}

footer{
  margin-top: auto;
}

footer.fixed-bottom {
    background-color: var(--global-footer-bg-color);
    font-size: 0.75rem;
    font-family: 'Lato';
  }
  footer.fixed-bottom .container {
    color: var(--global-footer-text-color);
    padding-top: 8px;
    padding-bottom: 8px;
  }
  footer.fixed-bottom a {
    color: var(--global-footer-link-color);
  }
  footer.fixed-bottom a:hover {
    color: var(--global-theme-color);
    text-decoration: none;
  }
  
  footer.sticky-bottom {
    border-top: 1px solid var(--global-divider-color);
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 0.9rem;
  }

  .icon {
    display: inline-block;
    width: 40px; /*Distance between icons*/
    height: 30px;
    font-size: 60px; /* Adjust the size according to your needs */
    line-height: 10px; /* Center the icon vertically */
    text-align: center; /* Center the icon horizontally */
    color: #333; /* Adjust icon color */
    margin: 10px;
    transition: transform 0.3s ease; /* Smooth transition for the jump effect */
}

.icon:hover {
    transform: translateY(-10px); /* Move the icon 5 pixels upwards */
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  /* Custom links */
  .custom-link {
    color: black; /* Default link color */
    text-decoration: underline; /* Remove underline */
    transition: color 0.5s ease; /* Smooth transition for color change */
}

.custom-link:hover {
    color: white; /* Change text color to white on hover */
    background-color: black; /* Highlight the background in black */
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: gainsboro;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Lato';
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: black;
  color: white;
  transition: color 0.5s ease;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Flexbox container for the two columns */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

/* Styling for the left column (photo) */
.left-column {
  flex: 1;
  padding-right: 20px;
}

.left-column img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Styling for the right column (text) */
.right-column {
  flex: 2;
  padding-left: 20px;
  position: relative; /* Needed for absolute positioning of divider */
  text-align: justify;
}

/* Divider starting at the name */
.divider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-left: 2px solid black;
  margin-left: -20px; /* Align the divider to match with the left column */
}
